.section-banner{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 8em;
}

.section-banner h2{
    font-size: 2.8em;
    letter-spacing: 0.3em;
}

.section-banner p{
    max-width: 28em;
    line-height: 1.2;
}

.section-banner a{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: rgba(208, 25, 25, 1);
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
    line-height: 1;
}

[class*="section-"] header h2{
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}

[class*="section-"] header h2:after{
    display: block;
    content: '';
    width: 1.5em;
    height: 2px;
    border: 2px;
    background-color:  rgba(208, 25, 25, 1);
    margin: 0.5em auto;
}

.section-welcome,
.section-coaches{
    padding: 2em 4em;
}

.section-welcome{
    background-color: white;
    min-height: 20em;
}

.section-coaches{
    background-color: rgba(239,239,239,1);
}

.columns{
    display: flex;
    gap: 10em;
}

.columns img{
    display: block;
    width: 100%;
    height: auto;
}

.columns li,
.columns li span{
    display: block;
}

.columns li{
    flex: 1 1 30%;
    text-align: center;
}

.columns .title{
    color: rgba(221, 136, 134, 1);
    font-weight: bold;
    padding: 0.5em 0;
}

.columns .name{
    font-weight: bold;
}

.columns .desc{
    color: #333;
    line-height: 1.2;
}

.section-welcome .columns img{
    width: 2.8em;
    margin: 0 auto;
}

.section-coaches .columns img{
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.section-coaches .columns .desc{
    color: #999;
}